body {
  background-color: #bec4c1;
  margin: 0 auto;
}

canvas {
  height: 600px;
  border-top: black 10px solid;
  border-bottom: black 10px solid;
  border-left: black 20px solid;
  border-right: black 20px solid;
}

canvas, .logo {
  padding-left: 0;
  padding-right: 0;
  padding-top: 5;
  padding-bottom: 5;
  margin: auto;
  display: block;
  width: 800px;
}

footer {
  background-color: #161616;
  height: 48px;
  line-height: 48px;
  margin-top: 30px;
  padding: 0 20px;
}

footer a {
  color: #e0e0e0;
  font-family: "Impact", sans-serif;
  font-size: 16px;
}

table {
  padding-top: 30;
}

td {
  font-weight: 100;
}

th, td {
  border-bottom: 1px solid #e0e0e0;
}

#layout-parent {
  margin: 0 auto;
  text-align: center;
}

.phaser-container, .content{
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}


#table-main {
  color: #e0e0e0;
  background-color: #161616;
  font-size: 18px;
  text-align: center;
}

#table-header {
  color: black;
  font-size: 16px;
}

#table-header, td {
  font-family: "Impact", sans-serif;
  font-size: 12px;
  width: 150px;
  text-overflow: clip;
  text-align: left;
  padding: 5px;
}
