body {
  background-color: #bec4c1;
  margin: 0 auto;
}

canvas, .logo {
  padding-left: 0;
  padding-right: 0;
  padding-top: 5;
  padding-bottom: 5;
  margin: auto;
  display: block;
  width: 800px;
}

canvas {
  height: 600px;
  border-top: black 10px solid;
  border-bottom: black 10px solid;
  border-left: black 20px solid;
  border-right: black 20px solid;
}

footer {
  background-color: #161616;
  height: 48px;
  line-height: 48px;
  margin-top: 30px;
  padding: 0 20px;
}

footer a {
  color: #e0e0e0;
  font-family: "Impact", sans-serif;
  font-size: 16px;
}
